.panel {
    display: inline;
}

.panels .row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

.panels .cell {
    position: relative;
    float: left;
    left: 100%;
}

.add-panel .discreet {
    text-align: center;
    padding: 5px;
    margin: 2px;
    font-weight: bold !important;
}

.add-panel {
    width: 75%;
}

.add-panel dd {
    margin: 0 !important;
    line-height: 4em;
}

.add-panel .cell div {
    padding: 5px 2px;
    background-color: #999966;
    color: white;
    text-align: center;
    line-height: 1em;
}

.add-panel a {
    float: left;
    padding: 5px;
    border: 1px solid #999966 !important;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 7em;
    background-color: #FFFFE3;
}

.add-panel a:hover {
    border-color: #999 !important;
}

.manage-panel .subform {
    float: left;
    margin-right: 2em;
}

.manage-panels-link div {
    display: inline;
}

.manage-panels-link a {
    padding-left: 1em;
    padding-right: 1em;
}

.manage-panels-link {
    text-align: center;
    margin: 0 auto 1em;
}
