.panels .row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

.panels .cell {
    position: relative;
    float: left;
    left: 100%;
}

.add-panel .discreet {
    text-align: center;
    display: block;
}

.add-panel dd {
    margin: 0 !important;
}

.add-panel .cell div {
    padding: 1px 1px;
    font-size: 150%;
    background-color: #999;
    color: white;
    text-align: center;
}

.add-panel a {
    float: left;
    padding: 5px;
    border: 1px solid #ccc !important;
    margin-right: 3em;
    width: 6em;
}

.add-panel a:hover {
    border-color: #999 !important;
}

.manage-panel .subform {
    float: left;
    margin-right: 2em;
}

.manage-panels-link div {
    display: inline;
}

.manage-panels-link a {
    padding-left: 1em;
    padding-right: 1em;
}

.manage-panels-link {
    text-align: center;
    margin: 0 auto 1em;
}
