.panels .row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

.panels .cell {
    position: relative;
    float: left;
    left: 100%;
}

.add-panel .discreet {
    text-align: center;
    display: block;
}

.add-panel dd {
    margin: 0 !important;
}

.add-panel .cell div {
    padding: 1px 1px;
    font-size: 150%;
    background-color: #999;
    color: white;
    text-align: center;
}

.add-panel a {
    float: left;
    padding: 2px;
    border-bottom: 1px solid #aaa !important;
    margin-right: 3em;
    width: 6em;
}

.manage-panel .subform {
    float: left;
    margin-right: 2em;
}
